* {
    padding: 0px;
    margin: 0px;
    font-family: 'Dosis', sans-serif;
    
}

.container{
    max-width: 100%;
    min-height: 100vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-color: lightgoldenrodyellow;

}

.container .intro {
    text-align: center;
    min-width: 51%;
    margin-top: 10%;
}

.container .intro2 {
    text-align: center;
    min-width: 51%;
    /* margin-top: 10%; */
}



.container .bttn{
    /* border: solid; */
    min-width: 100%;
    max-height: 30px;
    min-height: 20px;
    text-align: center;

}
.container .bttn a{
    border: solid black;
    border-radius: 60px;
    padding-left: 15px;
    padding-right: 15px;
    text-decoration: none;
    color: black;


}
